.logo3 {
    left: 50px;
    mix-blend-mode: screen;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 50px;
}
.logo4 {
    height: 150px;
}
.gambarlogin {
    width: 100%;
    height: 100%;
}
.logo5 {
    border-radius: 2000%;
    width: 100px;
}
.logo {
    mix-blend-mode: screen;
}
.group button.save {
    background-color: #4169e1;
    border: 1px solid #325cdb;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 70%;
    margin-bottom: 50%;
}
